<h1>PRODUCTOS</h1>
<div>
    {{#each products}}
    <div>
        <h2>{{this.title}}</h2>
        <p>{{this.description}}</p>
        <p>${{this.price}}</p>
        <p>Categoría: {{this.category}}</p>
        <button data-product-id="{{this._id}}" class="add-to-cart-btn">Agregar al Carrito</button>
    </div>
    {{/each}}
</div>
<div>
    {{#if hasPrevPage}}
    <a href="?page={{prevPage}}&limit={{limit}}">Página Anterior</a>
    {{/if}}
    Página {{page}} de {{totalPages}}
    {{#if hasNextPage}}
    <a href="?page={{nextPage}}&limit={{limit}}">Página Siguiente</a>
    {{/if}}
</div>